body{
    background-color: rgb(244, 247, 204);
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}
.col{
    width: 24%;
    height: 750px;
    border: 2px solid rgb(90, 87, 87);
}

img{
    width: 100%;
    height: 400px;
}
/* hr{
    size: 2px;
    color:rgb(90, 87, 87);
    width: 100%;

} */

.rate{
    margin-left: -1px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(90, 87, 87);
    
}
.head{
    text-align: center;
    color: blue;
    
}
h1{
    text-align: center;
}
.topbar{
    width: 100%;
    height: 40px;
    background-color: chocolate;
    position: sticky;
    top: 0%;
}